
target/classes
/bin/
.DS_Store
.settings/
logs/
*.csv
/target/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr